.pokemon-grid {
 
  > * {
    opacity: 0;
    animation: slideInUp 0.6s ease-out forwards;
    
   
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .pokemon-grid {
    gap: 1rem !important;
  }
}


